.bg-cover{
  background-position: center center;
  background-size:cover;
}
//首頁背景圖
.index-jumbotrom-bg{
  background-image: url(~@/assets/image/index_banner.jpg);
}
.index-block-bg{
  width: 135px;
  height: 180px;
  background-image: url(~@/assets/image/index_section.jpg);
  position: absolute;
  bottom:50px;
  right:12%;
}
.index-couponIntro-bg{
  background-color: rgba(255, 255, 255, 0.479);
  background-image: url(~@/assets/image/index_coupon50off.jpg);
  height: 600px;
  background-size: cover;
  background-position: center top;
}
// 首頁-相片庫
.item-pic1{
  background-image: url(~@/assets/image/index_photo_1.jpg);
  padding-top:100%;
}
.item-pic2{
  background-image: url(~@/assets/image/index_photo_2.jpg);
  padding-top:200%
}
.item-pic3{
    background-color: $primary;
    padding-top:100%
  }
  .item-pic4{
  background-image: url(~@/assets/image/index_photo_3.jpg);
  padding-top:100%
}
.item-pic5{
  background-image: url(~@/assets/image/index_photo_4.jpg);
  padding-top:200%
}
.item-pic6{
  background-color: $primary;
  padding-top:100%
}
.item-pic7{
  background-image: url(~@/assets/image/index_photo_5.jpg);
  padding-top:50%
}
.item-pic8{
  background-image: url(~@/assets/image/index_photo_6.jpg);
  padding-top:50%
}
.item-pic9{
  background-image: url(~@/assets/image/index_photo_7.jpg);
  padding-top:100%
}
//產品列表輪播圖
.carousel-bg-1{
  background-image: url(~@/assets/image/products_carousel_1.jpg);
}
.carousel-bg-2{
  background-image: url(~@/assets/image/products_carousel_2.jpg);
}
.carousel-bg-3{
  background-image: url(~@/assets/image/products_carousel_3.jpg);
}
//單一產品介紹頁
.description-bg-1{
  background-image: url(~@/assets/image/product_content_1.jpg);
}
.description-bg-2{
  background-image: url(~@/assets/image/product_content_2.jpg);
  height:400px;
}
.description-bg-3{
  background-image: url(~@/assets/image/product_content_3.jpg);
  height:400px;
}
// 優惠券
.coupon-bg{
  background-image: url(~@/assets/image/coupons_bg.jpg);
  width: 100%;
  height:100vh;
}
  //滿版背景圖下方留白問題
@media (max-height: 736px){
  .coupon-bg{
    height: 100%;
  }
}
.swiper-slide-bg{
  background-image: url(~@/assets/image/coupon_card.jpg);
}