$base-spacing:10px;

@function spacing($count:1){
  @return $count * $base-spacing;
}

//router-link-active
.navbar-light .navbar-nav .nav-link.router-link-exact-active{
  color:#000;
}
.navbar-dark .navbar-nav .nav-link.router-link-exact-active{
  color:#fff;
}
.nav .nav-link.active{
  color:$primary;
  font-weight: 800;
}

// 文字設定
*{
  font-family: 'Ubuntu', 'Noto Sans TC', ;
}
.text-vertical{
  writing-mode: vertical-rl;
}

//間距
.mt-80{
  margin-top: spacing(8);
}